* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
    color: $clr2;
}
    
body {
    // max-width: 1024px;
    // margin: 0 auto;
    font: 400 16px / 24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: rem(18px);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.6em;
    display: inline;
}

img {
    width: 100% ;
    object-fit: cover;
    aspect-ratio: 5 / 3;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


input {
    max-width: 100%;
}

.thumbnail>img {
    background: transparent url(https://fiverr-res.cloudinary.com/app_assets/fiverr_logo_loader.svg) no-repeat 50%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 140px;
    min-width: 140px;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
} 

// .logo {
//     font-family: macan-regular;;
//     font-size: 2.5em;
//     letter-spacing: -0.02em;
//     margin-left: 100px;

//     color: gray;
//     .span {
//         color: #1dbf73;
//     }
// }

