.review-app-all {
    // margin-top: 50px;

    .next-to-bar {
        padding: 0px 8px;  

       margin-top: 6px
    }

    .review-header-all {
        @include flex;
        padding: 0 0 12px;
    }
}