.gig-index {
    min-height: 80vh;
    position: relative;

    .headline-name {
        color: #222325;
        font-size: 32px;
        font-family: 'Macan';
        margin-top: 50px;
        margin-bottom: 10px;
        display: block;
    }

    .topic-explain {
        color: $clr5;
        font-size: 18px;
        font-family: 'Macan';
        line-height: calc(22 / 14);

    }


.filter-sort {
    margin-bottom: .5em;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1em 0;
    font-weight: bold;

    .filter-sort-container {
        @include flex;
        font-size: rem(12px);

        @media (min-width: $mobile-breakpoint) {
            font-size: 1rem;
        }
    }

    .filter-sort-shadow {
        background-color: $clr3;
        box-shadow: 0 .266px 1.13052px rgba(0, 0, 0, .069), 0 .89345px 3.79717px rgba(0, 0, 0, .101), 0 5px 17px rgba(0, 0, 0, .17);
    }

}
}