.index-header { 
    font-family: "Macan";
    border-bottom: 1px solid #e4e5e7;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    .index-header-container {
        padding: 20px 0px;
        transition: all 0.3s ease; 
        .links {
            display: flex;
            align-items: center;
            gap: 24px;
            font-weight: bold;
            font-size:20px;
            color:#62646a;
            justify-self: end;
            .sign-in-link
            {
                transition: color 0.3s ease;
                &:hover {
                    color: #17A55A; 
                    cursor: pointer;
                }
            }

            .explore-btn{
                transition: color 0.3s ease;
                padding: 8px 16px;
                border-radius: 8px;
                &:hover {
                    background-color: #fafafa; 
                    cursor: pointer;
                }
            }

            .user-header-img {
                position: relative;
               
                img {
                    border-radius: 50%;
                    width: em(32px, 16px);
                    height: em(32px, 16px);
                    cursor: pointer;
                }
            }
            
           
            .join-btn-index-header {
                border-color: #1DBF73;
                border: 1px solid;
                color: #1DBF73;
                padding: 12px 24px;
                font-weight: 700;
                font-size: 1rem;
                border-radius: 5px;
                cursor: pointer;
                transition: color .5s ease, border .5s ease;
                line-height: 14px;

                &:hover {
                    background-color: #17A55A;
                    color: white;
                }
            }
        }
    }

    .index-header-container.fixed-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    }

}

@media (max-width: 1024px) {
    .index-header-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .index-search {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .index-header {
        padding: 10px;

        .index-header-container {
            flex-direction: column;
            align-items: center;
        }

        .index-search {
            width: 100%;
        }

        .links {
            gap: 10px;
            font-size: 14px;
        }

        .join-btn-index-header {
            padding: 8px 16px;
        }
    }
}

@media (max-width: 480px) {
    .index-header {
        padding: 5px;

        .logo {
            font-size: 28px;

            .logo-dot {
                font-size: 40px;
            }
        }

        .index-search {
            flex-direction: column;
            gap: 5px;
            width: 100%;

            .btn-index-search {
                width: 100%;
            }
        }

        .links {
            flex-direction: column;
            gap: 8px;
            font-size: 14px;
        }
    }
}

.always-visible {
    display: block !important;  
  }
  
.sticky-toolbar {
    position: fixed;
    top: clamp(60px, 10vh, 91px);
    right: 10px;
    width: 100%;
    background-color: white;
    z-index: 1; 
    border-bottom: 1px solid #e4e5e7;
}