.logo {
    justify-content: flex-start;
    font-size: 45px;
    font-weight: 900;
    font-family: 'Macan';
    letter-spacing: -3px;
    color:#020202;
    padding: 10px;

    .logo-dot {
        color: #1dbf73;
        font-size: 60px;

    }
}
