.gig-payment {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: em(32px, 16px);
    color: $clr5;

    &>* {
        border: 1px solid $clr7;
        border-radius: em(4px, 16px);
    }

    @media (min-width: $normal-breakpoint) {
        flex-direction: row;
        height: 77vh;
    }

    header {
        font-size: em(16px);
        font-family: 'Macan';
        font-weight: bold;
    }

    label {
        font-size: em(16px);
        font-family: 'Macan';

    }

    span {
        font-size: rem(16px);
    }

    p {
        font-size: em(14px);
    }

    .checkmark-container {
        span {
            font-size: em(16px);
            font-family: 'Macan';
            color: #222325
            ;
        }
    }
}

.main-content {
    flex-basis: 58%;
    height: fit-content;

    input[type="radio"] {
        margin: 0 1.6em 0 0;
        transform: scale(1.87);
        cursor: pointer;
        color: #000;
        border-color: #222325;
        font-family: 'Macan';
        font-weight: bold;
    }

    header {
        padding: 1em 0.45em;
        background-color: #fafafa;
        color: $clr2;
    }

    .payment-option,
    .paypal {
        display: flex;
        align-items: center;
        min-height: 5.2em;
        padding-left: 1em;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, .06);

        span {
            line-height: 1;
        }

        img {
            margin-left: .5em;
            height: 20px;
        }
    }

    .payment-option img {
        width: 219px;
    }

    .paypal img {
        width: 73px;
    }

    .payment-container {
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, .06);
        background-color: #fafafa;
        padding: 1em;

        input {
            background-color: $clr3;
            padding: .5em em(12px, 16px);
            height: em(60px, 16px);
            border: 1px solid #c5c6c9;
            border-radius: em(10px, 16px);
            color: $clr5;
            width: 100%;
            outline: none;
            margin: 10px 0px 0px;
        }

        .card-left-max {
            input {
                max-width: 670px;
                font-family: 'Macan';
            }
        }


        span {
            display: block;
            font-size: rem(20px);
            margin-top: em(15px, 14px);
            margin-bottom: em(5px, 14px);
        }

        .card-details {
            margin: 20px 0;
        }

        .card-details,
        .name-details {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
        }


        .date,
        .code {
            min-height: em(90px, 16px);
            max-width: 320px;
        }

        label {
            width: 100%;
        }

        .name-details>* {
            min-height: em(111px, 16px);
        }

        @media (min-width: $narrow-breakpoint) {
            padding: em(24px, 16px) em(18px, 16px);
            padding-left: em(40px, 16px);

            label {
                width: 50%;
                max-width: 252px;
                margin-inline-end: 2em;
            }

            // .date,
            // .code {
            //     max-width: 110px;
            // }
        }
    }

    @media (max-width: $normal-breakpoint) {
        margin-bottom: 2em;
    }
}

.margin-label {
    margin-left: em(40px, 16px);
}

.side-content {
    flex-basis: 35.9%;
    height: fit-content;

    img {
        width: em(100px, 16px);
        border-radius: em(4px, 16px);
        margin-right: 1em;
    }

    header {
        display: flex;
        align-items: center;
        padding-bottom: 1em;
        margin-bottom: 1em;
        // border-bottom: 1px solid $clr7;
    }

    .basic {
        font-size: 16px;
    }

    .basic-and-price {
        @include flex;
        margin-bottom: 1em;
        font-weight: 500;
        color: #62646a;
        font-family: 'Macan';

        .price {
            color: #62646a;
            font-size: 16px;
        }

        span:first-of-type {}
    }

    li {
        margin-bottom: .5em;
        font-size: 16px;
        font-family: 'Macan';
        color: #62646a;

    }

    .order-details {
        padding: 1em em(24px, 16px);
        background-color: #fafafa;
        border-bottom: 1px solid $clr7;
    }

    .payment-summary {
        padding: 1em em(24px, 16px);
    }

    .payment-taxes {
        padding: 0px 0px 16px;
        margin: 0px 0px 16px;
        font-size: 16px;
        font-family: 'Macan';
    }

    .payment-taxes,
    .payment-total {
        // border-bottom: 1px solid $clr7;
        margin-bottom: 1em;
        font-size: 16px;
        font-family: 'Macan';


        div {
            @include flex;
            padding-bottom: em(12px, 16px);
        }
    }

    .payment-taxes {
        border-bottom: 1px solid #e4e5e7;
    }

    .payment-btn {
        color: $clr3;
        background-color: #000;
        border: 1px solid transparent;
        border-radius: em(4px, 16px);
        text-align: center;
        padding: 15px 24px;
        width: 100%;
        transition: 70ms cubic-bezier(.75, 0, .25, 1);
        font-size: 16px;
        font-family: 'Macan';

        &:hover {
            background: $clr2;
        }
    }

    @media (max-width: $narrow-breakpoint) {
        margin-bottom: 2em;
    }

    .promo {
        border-bottom: 1px solid #e4e5e7;
        padding: 16px 24px;

        span {
            font-size: rem(20px);

        }
    }
}

.green-check {
    color: $clr1;
}

.payment-ssl {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Macan';
    color: #62646a;

    svg {
        margin-right: 8px;
        fill: #62646a;
    }
}

.checkmark-box {
    background-color: $white;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: $checkmark_box_size_square;
    min-width: $checkmark_box_size_square;
    height: $checkmark_box_size_square;
    border: 1px solid color($grey, 600);
    border-radius: 2px;
    margin-top: 15px;
    margin-right: 8px;
    border: 1px solid #c5c6c9;
    cursor: pointer;
    transition: $animation_duration_fast_01 $animation_timing_function_standard;
}

.check-icon {
    transform: scale(.5);
    transform-origin: 50% 50%;
    display: inline-block;
    font-weight: inherit;
    font-style: inherit;
    // width: 40px;
    // height: 40px; //! not working on the icon intresting
    opacity: 0;
    pointer-events: none;
    fill: color($grey, 1000);
    transition: $animation_duration_fast_01 $animation_timing_function_standard;
}

.checkmark-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkmark-box.checked .check-icon {
    opacity: 1;
}

.payment-summary {
    font-size: em(20px);
}