.gig-details {
    display: flex;
    justify-content: center;
    font-family: 'Macan';


    .gig-details-container {
        // padding: 40px 0px;
        display: flex;

        .left {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .gig-details-title {
                margin-top: 20px;
            }

            .user {
                display: flex;
                align-items: flex-start;
                align-items: center;
                gap: 10px;

                .profile-picture {

                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }



                .user-name-level {
                    display: inline-flex;
                    display: flex;
                    gap: 6px;


                    .user-name {
                        font-size: 18px;
                        color: #404145;
                        cursor: pointer;
                        font-weight: 700;
                        margin-right: 8px;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }

                    }

                    .user-level {
                        display: inline-flex;
                        width: fit-content;
                        align-items: center;
                        justify-content: center;
                        gap: 4px;
                        box-sizing: border-box;
                        color: #222325;
                        font-size: 14px;

                        .level {
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: 600;

                        }

                    }


                }

                .stars {
                    display: flex;
                    box-sizing: border-box;
                    flex-direction: row;
                    align-items: center;
                    gap: 16px;


                    .MuiBox {
                        display: inline-flex;
                        box-sizing: border-box;

                    }

                    .reviews-num {
                        display: inline-flex;
                        box-sizing: border-box;
                        margin-bottom: 5px;
                    }
                }


            }

            .gig-about {
                border-bottom: 1px solid $clr12;
                margin-top: em(136px, 16px);
                width: 800px;
                font-family: 'Macan';
                padding-bottom: em(20px, 16px);

                .about-gig-header {
                    margin: 0;
                }
            
                span {
                    background-color: #ffecd1;
                    font-family: 'Macan';
                }
            }

            .gig-about-filter {
                font-size: 16px;
                font-family: 'Macan';

                .head {
                    color: #95979d;
                }

                ul {
                    display: flex;
                    justify-content: space-between;
                    padding: 0px 0px 20px;
                }
            }

            .contact-info-user {
                display: flex;
            align-items: center; 
               gap: 20px;

                .contact-info-profile-picture {

                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }



                .contact-info-user-name-level {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;


                    .contact-info-user-name {
                        font-size: 18px;
                        color: #404145;
                        cursor: pointer;
                        font-weight: 700;
                        margin-right: 8px;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }

                    }

                    .contact-info-user-level {
                        display: inline-flex;
                        width: fit-content;
                        align-items: center;
                        justify-content: center;
                        gap: 4px;
                        box-sizing: border-box;
                        color: #222325;
                        font-size: 14px;

                        .contact-info-level {
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: 600;

                        }

                    }


                }

                .contact-info-stars {
                    display: flex;
                    box-sizing: border-box;
                    flex-direction: row;
                    align-items: center;
                    gap: 16px;


                    .MuiBox {
                        display: inline-flex;
                        box-sizing: border-box;

                    }

                    .contact-info-reviews-num {
                        display: inline-flex;
                        box-sizing: border-box;
                        margin-bottom: 5px;
                    }
                }


            }


            .contact-me {
                display: flex;
                flex-direction: column;
                padding: 12px 24px;
                margin-top: 30px;
                background-color: transparent;
                color: $clr2;
                border: 1px solid $clr2;
                border-radius: 4px;
                font-family: 'Macan';

            }
            .contact-me:hover {

                background-color: $clr5;
                color: $clr3;

            }

            .get-to-know{
                color:#62646a;
                font-family: 'Macan';


            }
        }
    }

    .right {
        flex: 2;
    }

}

.owner-description {
    border: 1px solid $clr12;
    margin-bottom: em(36px, 16px);
    border-radius: em(3px, 16px);
    padding: em(24px, 16px);
  
    ul {
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-bottom: 1px solid $clr12;
      margin-bottom: em(20px, 16px);
  
    }
  
    li {
      width: 50%;
      margin-bottom: 1em;
    }
  
    span {
      display: block;
  
      &:nth-child(2n +1) {
        color: $clr5;
      }
  
      &:nth-child(2n) {
        // font-family: macan-bold;
      }
    }
  }

  