.user-details {
    .user-img {
        height: 200px;
        width: 200px;
        background-size: contain;
    }
}


.progress-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.progress-chart svg {
    transform: rotate(-90deg); 
}

.progress-chart text {
    transform: rotate(90deg); 
}

.circle-label {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
    text-align: center;
}

