.app-header {
    // background-color: $clr1;
    padding: 32px;
    border-bottom: 1px solid #e4e5e7;
    height: 80px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    background-color: #fff; 
    align-items: center;


    .app-header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .gig-header-link {
        color: $clr5;
        text-decoration: none;
        transition: color 70ms cubic-bezier(.75, 0, .25, 1);
        &:hover {
            color: $clr1;
        }
    }

    
    nav {
        font-size: .8em;
        background-color: $clr3;
    }

    nav .active {
        color: $clr1;

        background-color: transparent;
        border: 1px solid $clr1;
        color: $clr1;
        padding: 10px 16px;
        border-radius: 4px;
        transition: background-color 70ms cubic-bezier(.75, 0, .25, 1);

        &:hover {
            background-color: $clr1;
        }
    }
    
.join-btn {
    text-decoration: none;
    border-color: #1dbf73;
    border: 1px solid;
    color: #1dbf73;  
    padding: 12px 24px;  
    font-weight: 700;  
    font-size: 1rem;  
    border-radius: 5px;  
    cursor: pointer;  
    transition: color .5s ease, border .5s ease; 
line-height: 14px;

    &:hover {
        background-color: #17a55a;  
        color:white;
        
    }

    /* On mobile, reduce font size slightly for better fit */
    @media (max-width: 768px) {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}

}



