.main-layout {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 1400px) minmax(20px, 1fr);

    > * {
        grid-column: 2;
    }

    .full {
        grid-column: 1 / -1;
        width: 100%;
    }
    
    .side-start {
        grid-column: 1 / 2;
    }
    
    .side-end {
        grid-column: 3 / -1;
    }

    @media (max-width: 1024px) {
        grid-template-columns: minmax(10px, 1fr) minmax(auto, 90%) minmax(10px, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr; 

        > * {
            grid-column: 1;
        }

        .side-start, .side-end {
            grid-column: 1;
        }
    }
}


.hidden{
    opacity: 0;
}

.block {
    opacity: 1;
    position: fixed;
    z-index: 10000;
    background-color: white;
    transition: opacity 0.3s ease-in-out;
    top: 90px;
    
  }
  .block-header {
    display: block;
    z-index: 10000;
    background-color: white;
    transition: opacity 0.3s ease-in-out;
  }

.gig-user-list{
    display: grid;
    margin-bottom: 3rem;
    grid-template-rows: repeat(1, 1fr); 
    align-items: center;
    justify-items: center;
    gap: 1rem;


    @media (min-width: $mobile-breakpoint) {
        grid-template-rows: repeat(2, 1fr); 
    }

    @media (min-width: $narrow-breakpoint) {
        grid-template-rows: repeat(3, 1fr); 
    }

    @media (min-width: $normal-breakpoint) {
        grid-template-rows: repeat(4, 1fr); 
    }
}
