.gig-details-side {
  display: block;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  unicode-bidi: isolate;
  // width: 20x;
  // height: 100px;
  left: 1000px;
  // border:solid 1px#e4e5e7;
  // position: fixed;
  position: sticky;
  font-family: 'Macan';
  top: 50px;



  // min-width: 550px; 
  height: fit-content;
  order: 2;
  margin-bottom: em(50px, 16px);
  margin-left: -10px;
  // flex-grow: 1;
  flex-direction: column;
  margin-left: em(157px, 16px);



  @media (max-width: 1850px) {
    // min-width: 450px;
  }

  @media (min-width: 1650px) {
    // min-width: 50px;
  }

  @media (min-width: 1450px) {
    // min-width: 40px;
  }

  @media (max-width: 1350px) {
    // min-width: 300px;
  }

  @media (min-width: 1850px) {
    // min-width: 50px;
  }



  @media (min-width: $narrow-breakpoint) {
    margin-left: rem(127px);
  }

  @media (min-width: $normal-breakpoint) {
    margin-left: rem(90px);
  }


  @media (min-width: $narrow-breakpoint) {
    grid-area: aside;
    // position: fixed;
    // top: 132px;
    // margin-left: 0;
    top: 50px;
    margin-top: 66px;

  }
}

.gig-program {
  // height: fit-content;
  // color: $clr5;
  // border: 1px solid $clr7;
  // display: block;
  border: solid 1px#e4e5e7;

}

.gig-program-name {
  display: flex;

  .active-basic {
    background-color: #fff;
    border-bottom: 3px solid $clr14;
    color: $clr14;
    font-family: 'Macan';

  }

  button {
    height: 60px;
    // width:10px;
    background-color: transparent;
    color: $clr5;
    flex-basis: 33.9%;
    border-bottom: 2px solid transparent;
    transition: all .6s;
    background-color: #fafafa;
    color: #74767e;
    font-family: 'Macan';
    font-weight: bold;

    &:not(:last-of-type) {
      border-right: 1px solid $clr7;

    }
  }
}

.gig-program-info {
  padding: 20px 24px 0px;
  border-top: 1px solid $clr7;
  font-size: 14px;
  // width: 100%;

  .gig-program-price {
    display: flex;
    justify-self: end;
    color: $clr2;
    font-family: 'Macan';
    // font: 400 16px / 24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    // padding-bottom: 3px;
    font-size: 24px;

  }

  .delivery span {
    padding-inline-end: .5em;

    &::before {
      padding-right: .5em;
    }

    .delivery-time span {}
  }

  .dec-gig {
    font-size: 16px;
    text-transform: uppercase;
  }

  p,
  ul {
    margin-bottom: em(24px, 16px);
    white-space: normal;
  }

  .gig-program-subscribe {
    color: #026a5d;
  }

  .gig-program-basic {
    // font-family: macan-bold;
  }

  .green-check {
    color: $clr1;
  }
}

.gig-program-link-continue {
  // width: 50%;
  display: inline-block;
  background-color: $clr14;
  color: $clr15;
  border-radius: 4px;
  line-height: 1;
  padding: 12px 24px;
  text-align: center;
  display: inline-block;

  &:hover {
    text-decoration: none;
    background-color: rgba(5, 5, 5, 0.8);
  }

  span {
    float: right;
  }

}

.contact-seller {
  box-sizing: border-box;
  margin-top: 16px;
  width: 100%;
  background-color: $clr9;
  text-align: center;
  padding: 24px;


  button {
    // width: 100%;
    padding: 12px 150px;
    margin: 0;
    background-color: transparent;
    color: $clr2;
    border: 1px solid $clr2;
    border-radius: 4px;
    font-family: 'Macan';
  }

  button:hover {
    background-color: $clr5;
    color: $clr3;
  }
}

.svg-payment {
  padding: 0px 12px 0px 0px;
  margin-top: -5px;
}

li {
  align-items: center;
}

span.svg-payment {
  top: -5px;
}

.delivery-time {
  padding: 0px 12px 0px 0px;
  // margin: 5PX;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}


.gig-program-link-continue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .arrow-rigth {

    margin-left: auto;
    order: 1;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    color: #fff;
    // vertical-align: middle;     
  }
}

.compare-packages-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 12px 0px 0px;
  // color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Macan';
  scroll-behavior: smooth;

  &:hover {
    text-decoration: none;
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0px 24px 20px;

  &:hover {
    text-decoration: none;
  }
}

.center-container a {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .compare-packages-button {
    // display: none;
  }
}

// @media (min-width: 900px) {
//   .gig-details-side {
//     display: grid;
//    grid-template-columns: 1fr;
//   }

//   .right {
//   }

// }


