

.gig-list {
    display: grid;
    margin-bottom: 3rem;
    grid-template-columns: repeat(1, 1fr); 
    align-items: center;
    justify-items: center;
    gap: 1rem;


    @media (min-width: $mobile-breakpoint) {
        grid-template-columns: repeat(2, 1fr); 
    }

    @media (min-width: $narrow-breakpoint) {
        grid-template-columns: repeat(3, 1fr); 
    }

    @media (min-width: $normal-breakpoint) {
        grid-template-columns: repeat(4, 1fr); 
    }
}
