// .gig-preview {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     border: 1px solid white;
//     // min-width: rem(225px);
//     // min-height: rem(300px);
//     width: 300px;
//     height: 400px;


//     a:hover {
//         // color: $clr1;
//     }

//     .img-container:hover+.content .title {
//         text-decoration: underline;
//     }

//     .img-container {
//         position: relative;
//         // border-top-left-radius: 10px;
//         // border-top-right-radius: 10px;
//         // border-bottom-right-radius: 10px !important;
//         // border-bottom-left-radius: 10px !important;
//         border-radius: 10px;
//         overflow: hidden;
//         // width: 125%;
//     }

//     .btn-container {
//         position: absolute;
//         top: 10px; 
//         right: 10px; 
//         z-index: 1; 
//     }
    
//     .content {
       
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//         flex-direction: column;
//         // padding: 0 em(12px, 16px) em(10px, 16px);


//         .title {

//             // padding-bottom: em(15px, 16px);
//         }
//     }

//     .owner-info { //! here (list)
//         font-size: rem(14px);
//         line-height: calc(18 / 14);
//         display: flex;
//         // justify-content: space-between;
//         // align-items: flex-start;
//         // flex-direction: row;

//         // align-items: center;
//         margin: 12px 0px 0px;

//         img {
//             width: em(20px, 14px);
//             height: em(20px, 14px); 
//             border-radius: 50%; 
//         }
//         p{
//             display:flex;
//         }
//         .owner-level {
//             display: flex;
//             font: '400 14px / 24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif';
//             margin-left: 4px;

//             // align-items: center; 
//             // margin-left: 4px; 
//         }
//     }

    

//     .owner {
//         display: flex;
//         flex-direction: column;
//         padding-left: .5em;

//         span {
//             font-family: macan-light;
//             color: $clr4;
//         }

//         a {
//             font-family: macan-semibold;

//             &:hover {
//                 color: $clr2;
//                 text-decoration: underline;
//             }
//         }
//     }

//     .rate {
//         font-size: rem(14px);
//         color: $clr4;
//         display: flex;
//         margin: 8px 0px 0px;
//         font-size: 16px;
     

//         div:last-child {
//             margin-left: em(5px, 14px);
//         }

//         .rate-num {
//             padding: 0px 0px 0px 4px;
//             // font-size: 16px;
//             color: $clr6;
//         }

//         .ratings-count {
//             color: $clr6;
//             font-family: macan-light;
//         //    top: -5px;
//             padding: 0px 0px 0px 4px;
//         }
//     }

//     // footer {

//     // button {
//     //     margin: 0;
//     //     padding: 0;
//     //     background-color: transparent;
//     //     color: $clr6;
//     // }

//     // button:first-of-type {
//     //     padding-right: .5em;
//     // }
// }

// .price {
//     width: 100%;
//     @include flex;
//     align-items: flex-end;
//     font-size: 1.125em;
//     line-height: 1.3;

//     span {
//         &.price-margin {
//             left: auto;
//         }
//     }

//     &:hover {
//         text-decoration: none;
//     }

//     // }
// }

// // .gig-preview-img {
// //     position: relative;
// //     // width: 100%;
// //     // height: 300px;
// //     // overflow: hidden;
// // }

// // .gig-preview-img img {
// //     width: 100%;
// //     height: 100%;
// //     object-fit: cover;
// // }

// // .prev, .next {
// //     position: absolute;
// //     top: 50%;
// //     transform: translateY(-50%);
// //     font-size: 2rem;
// //     color: #fff;
// //     background-color: rgba(0, 0, 0, 0.5);
// //     padding: 10px;
// //     cursor: pointer;
// //     z-index: 10;
// // }

// // .prev {
// //     left: 10px;
// // }

// // .next {
// //     right: 10px;
// // }

// // .dot-container {
// //     position: absolute;
// //     bottom: 10px;
// //     left: 50%;
// //     transform: translateX(-50%);
// //     display: flex;
// //     list-style-type: none;
// //     padding: 0;
// // }

// // .dot {
// //     margin: 0 5px;
// //     width: 10px;
// //     height: 10px;
// //     background-color: rgba(255, 255, 255, 0.5);
// //     border-radius: 50%;
// //     cursor: pointer;
// //     transition: background-color 0.3s ease;
// // }

// // .dot-active {
// //     background-color: #fff;
// // }

.gig-preview {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    // min-width: rem(225px);
    //     min-height: rem(300px);
    width: 335px;
    height: 405px;

    .img-container {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
       
    }

    .btn-container {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }


    .content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        // .title {
        //     // title styles
        // }
        
        
    }

    .owner-info {
        display: flex;
        align-items: center; 
        // justify-content: space-between; 
        font-size: rem(14px);
        width: 100%;
            // margin-top: 10px;
    
        img {
            width: em(25px, 14px);  
            height: em(25px, 14px); 
            border-radius: 50%;  
            margin-right: 8px; 
            margin-top: 18px;   
        }

        .owner {
            display: flex;
            align-items: center; 
            justify-content: space-between;
            // flex-direction: row;
            width: 100%;

            .owner-name {
                // font-family: macan-semibold;
                margin-top: 15px;  
                // min-width: 0;
                white-space: nowrap; 

            }

            .owner-level-container {
                display: flex;
                align-items: center;
                font-size: 14px;
                align-self: flex-end;

            }

            .owner-level {
                display: flex;
                align-items: center;
                font-size: 14px;
                // margin-left: 150px;
                // background-color: #ffe0b3;
                color: #222325 ;
                font-weight: bold;
            }

            .owner-level svg {
                margin-left: 4px;  // Adjust spacing between level text and stars
            }
        }
    }

    .rate {
        font-size: rem(14px);
        color: $clr4;
        display: flex;
        // margin: 8px 0px 0px;
        font-size: 14px;
        align-items: center;
        // margin-top: 8px;

        .MuiRating-icon {
            color: black;  
            margin-right: 4px;  
            margin-bottom: 4px;
        }

        .rate-num {
            // padding: 0px 0px 0px 4px;
            color:#222325;
            // color: red;
            font-size: 16px;
            font-weight: bold;
        
        }

        .ratings-count {
            // color: $clr6;
            color: red;
            font-family: macan-light;
            // padding: 0px 0px 0px 4px;
            color: #74767e;
            margin-left: 6px;
        }
    }

    .price {
        width: 100%;
        @include flex;
        align-items: flex-end;
        font-size: 1em;
        line-height: 1.3;
        
        span {
            &.price-margin {
                left: auto;
                font-weight: bold;
                color: #222325;
            }
        }

        &:hover {
            text-decoration: none;
        }
    } 
    .long-txt{
        color:#404145;
        // font-weight: bold;
        font-size: 16px;
    }
}
