$white_opaque: rgba($white, 1);
$white_transparent: rgba($white, 0);
$agencies_banner_height_regular: 110px;
$menu_panel_agencies_banner_padding_bottom_regular: 120px;
$agencies_banner_height_wide: 92px;
$menu_panel_agencies_banner_padding_bottom_wide: 102px;

$white: #ffffff;
$grey: #b0b0b0;
$green: #32a852;

@mixin media-query-grid($size) {
    @if $size ==sm {
        @media (max-width: 576px) {
            @content;
        }
    }

    @else if $size ==lg {
        @media (min-width: 992px) {
            @content;
        }
    }
}

@mixin media-query-grid-reverse($size) {
    @if $size ==lg {
        @media (max-width: 991px) {
            @content;
        }
    }
}

.categories-menu-package {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #e4e5e7;
    opacity: 1;
    padding: 10px;
     //! scroll
    // position: fixed;
    // padding: 8px;
    // background-color: #fff;
    // z-index: 1111;
    // margin-top: em(89px); //! scroll

    // &:hover {
    //     border-bottom: 1px solid #32a852;
    //     transition: transform 0.2s;
    //     opacity: 1;
    //     transform: rotateX(0deg);
    // }

 

    // display: flex;

    &.hidden {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &.visible {
        position: fixed; /* Fixed when scrolled */
        top: 0;
        left: 0;
        z-index: 1000; /* Ensures it stays on top */
        background-color: white;
        opacity: 1;
        padding: 8px; /* Padding when visible */
        transition: opacity 0.3s ease-in-out; /* Smooth transition */
    }




    a {
        cursor: pointer;
        padding: 8px 0px;
        font-size: 16px;
        font-family: 'Macan';
       

        &:hover {
            border-bottom: 4px solid #32a852;
            transition: transform 0.2s;
            opacity: 1;
            transform: rotateX(0deg);
        }
    }

    &.has-overflow {
        &.has-overflow-vertical {
            height: 40px;
            border-bottom: 1px color($grey, 400) solid;
        }

        ul.categories {
            overflow: hidden;
        }
    }

    button:not(.agencies-banner-cta) {
        background: linear-gradient(to right,
                $white_opaque 50%,
                $white_transparent 100%);
        color: color($grey, 1000);
        border: none;
        font-size: 10px;
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 100%;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
            background: linear-gradient(to left,
                    $white_opaque 50%,
                    $white_transparent 100%);
        }
    }

    .categories-badge {
        position: relative;
        top: -1px;
        margin-left: 6px;
    }

    .categories {
        padding: 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        // max-width: 1400px;

        .top-level {
            .sub-menu-item {
                width: 248px;

                a {
                    padding: 6px 0;
                }
            }
        }

        >li {
            display: inline-block;
            flex-shrink: 0;
            padding: 0 10px;

            &:hover {

                >a:after,
                >p:after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    height: 3px;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    background: color($green, 700);
                }
            }

            &:first-child {
                @include media-query-grid(sm) {
                    padding-left: 30px;
                }

                @include media-query-grid(lg) {
                    padding-left: 0;

                    >a {
                        padding-left: 0;
                    }
                }
            }

            &:last-child {
                @include media-query-grid(sm) {
                    padding-right: 30px;
                }

                @include media-query-grid(lg) {
                    padding-right: 0;
                }
            }

            >a:hover {
                text-decoration: none;
            }

            >ul {
                display: none;
            }
        }

        >li.open {
            >ul {
                display: block;
                column-count: 2;
                column-gap: 72px;
                position: absolute;
                z-index: 100;
                padding: 20px 32px;
                background: $white;
                border: 1px color($grey, 400) solid;
                box-shadow: 0 1px 3px color($grey, 500);

                &.three-columns-menu {
                    column-count: 3;
                }

                &.four-columns-menu {
                    column-count: 4;
                }

                &.has-agencies-banner {
                    padding-bottom: $menu_panel_agencies_banner_padding_bottom_regular;

                    & li:last-child.agencies-banner-item {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: $agencies_banner_height_regular;
                    }

                    &.three-columns-menu,
                    &.four-columns-menu {
                        padding-bottom: $menu_panel_agencies_banner_padding_bottom_wide;

                        & li:last-child.agencies-banner-item {
                            height: $agencies_banner_height_wide;
                        }
                    }
                }

                @include media-query-grid-reverse(lg) {
                    display: none;
                }
            }
        }
    }
}


// .categories-menu-package {
//     border-block-end: 1px solid lightgray;
//     padding: 0 78.5px;

//     ul {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         overflow-x: hidden;

//         gap: 1rem;

//         margin: 0;

//         color: #62646a;

//         font-size: 16px;

//         li {
//             width: min-content;
//             // overflow: hidden;
//             white-space: nowrap;

//             padding: 0.3rem 0;

//             font-size: 1.1rem;
//             cursor: pointer;
//         }
//     }
// }