.gig-preview {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    // min-width: rem(225px);
    //     min-height: rem(300px);
    width: 335px;
    height: 405px;

    .img-container {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
       
    }

    .btn-container {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }


    .content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        // .title {
        //     // title styles
        // }
        
        
    }

    .owner-info {
        display: flex;
        align-items: center; 
        // justify-content: space-between; 
        font-size: rem(14px);
        width: 100%;
            // margin-top: 10px;
    
        img {
            width: em(25px, 14px);  
            height: em(25px, 14px); 
            border-radius: 50%;  
            margin-right: 8px; 
            margin-top: 18px;   
        }

        .owner {
            display: flex;
            align-items: center; 
            justify-content: space-between;
            // flex-direction: row;
            width: 100%;

            .owner-name {
                // font-family: macan-semibold;
                margin-top: 15px;  
                // min-width: 0;
                white-space: nowrap; 

            }

            .owner-level-container {
                display: flex;
                align-items: center;
                font-size: 14px;
                align-self: flex-end;

            }

            .owner-level {
                display: flex;
                align-items: center;
                font-size: 14px;
                // margin-left: 150px;
                // background-color: #ffe0b3;
                color: #222325 ;
                font-weight: bold;
            }

            .owner-level svg {
                margin-left: 4px;  // Adjust spacing between level text and stars
            }
        }
    }

    .rate {
        font-size: rem(14px);
        color: $clr4;
        display: flex;
        // margin: 8px 0px 0px;
        font-size: 14px;
        align-items: center;
        // margin-top: 8px;

        .MuiRating-icon {
            color: black;  
            margin-right: 4px;  
            margin-bottom: 4px;
        }

        .rate-num {
            // padding: 0px 0px 0px 4px;
            color:#222325;
            // color: red;
            font-size: 16px;
            font-weight: bold;
        
        }

        .ratings-count {
            // color: $clr6;
            color: red;
            font-family: macan-light;
            // padding: 0px 0px 0px 4px;
            color: #74767e;
            margin-left: 6px;
        }
    }

    .price {
        width: 100%;
        @include flex;
        align-items: flex-end;
        font-size: 1em;
        line-height: 1.3;
        
        span {
            &.price-margin {
                left: auto;
                font-weight: bold;
                color: #222325;
            }
        }

        &:hover {
            text-decoration: none;
        }
    } 
    .long-txt{
        color:#404145;
        // font-weight: bold;
        font-size: 16px;
    }
}
