.index-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e4e5e7;

    .index-header-container {
        width: 1400px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;

        .logo {
            font-size: 34px;
            font-weight: bold;

            .logo-dot {
                color: #1dbf73;
            }
        }

        .index-search {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            border-radius: 5px;
            width: 70%; 
            max-width: 600px; 
            font-size: 14px;
            padding: 0 10px; 

            .search-index-input {
                display: flex;
                align-items: center;
                width: 100%;
                border: 1px solid #c5c6c9;
                color: #62646a;
                border-radius: 5px;
                

                input {
                    width: 100%; 
                    height: 45px; 
                    border: none;
                    outline: none;
                    padding: 0 10px; 
                }

                input::placeholder{
                    font-family: 'Macan';
                    font-size: 16px;

                }
            }

            .btn-index-search {
                width: 50px;
                height: 45px; 
                background-color: #222325;
                color: white;
                cursor: pointer;
                margin-left: 15px; 
                border-radius: 0 4px 4px 0;

                svg {
                    color: white;
                }
            }
        }

        .links {
            display: flex;
            align-items: center;
            gap: 24px;
            font-weight: 500;

            &:hover {
                cursor: pointer;
                color: #17A55A;
            }

            .join-btn-index-header {
                border-color: #1DBF73;
                border: 1px solid;
                color: #1DBF73;
                padding: 12px 24px;
                font-weight: 700;
                font-size: 1rem;
                border-radius: 5px;
                cursor: pointer;
                transition: color .5s ease, border .5s ease;
                line-height: 14px;

                &:hover {
                    background-color: #17A55A;
                    color: white;
                }
            }
        }
    }
}
