.app-header-main {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a:hover {
        color: $clr1;
    }

    &>* {
        margin-inline-start: em(24px, 16px);
    }

    .user-header-img {
        line-height: 1;
        border-radius: 50%;
        width: em(32px, 16px);
        height: em(32px, 16px);
        cursor: pointer;
    }

    .user-header-img,
    .user-orders {
        position: relative;
    }

    img {
        border-radius: 50%;
        width: em(32px, 16px);
        height: em(32px, 16px);
        cursor: pointer;
    }

    @media (max-width: $narrow-breakpoint) {
        flex-basis: 0%;
    }
}

